In [1]:
import sqlite3

conn = sqlite3.connect('RegisteredUser',check_same_thread=False)

print("Opened database successfully.")

Opened database successfully.

In [3]:
conn.execute('''CREATE TABLE IF NOT EXISTS USERS
         (UID TEXT PRIMARY KEY     NOT NULL,
         EMAIl TEXT NOT NULL,
         PASSWORD           TEXT    NOT NULL);
         ''')
print("Table created successfully")

Table created successfully

In [4]:
try:
    conn.execute("INSERT INTO USERS (UID,EMAIL,PASSWORD) \
      VALUES ('ajay','ajay@gmail.com','xyz' )");
    conn.commit()
    print("Records created successfully")
except:
    print("value should be unique")

value should be unique

In [18]:
uid="rahul"#input("Enter Username: ")
email="rahul@gmail.com"
pas="secret"#input("Enter Password: ")

try:
    conn.execute(f"INSERT INTO USERS (UID,EMAIL,PASSWORD) \
      VALUES ('{uid}','{email}','{pas}' )");
    conn.commit()
    print("Records created successfully")
except:
    print("value should be unique")

value should be unique

In [8]:
cursor = conn.execute("SELECT UID,EMAIL,PASSWORD from USERS")
for row in cursor:
    print("userid = ", row[0])
    print("email = ", row[1])
    print("password = ", row[2],"\n")

userid =  ajay
email =  ajay@gmail.com
password =  xyz

userid =  rahul
email =  rahul@gmail.com
password =  secret

In [44]:
uid="ajay"
pas="xyz"
def checkUserCredential(uid,pas):
    for row in conn.execute(f"SELECT UID,PASSWORD from USERS where UID=?",(uid,)):
        if row[0]==uid and row[1]==pas:
            print("userid = ", row[0])
            print("password = ", row[1],"\n")
            return True
        return False

In [47]:
checkUserCredential("ajay","abc")

False

In [16]:
#get total number of rows
conn.execute("select count(*) from USERS").fetchall()[-1][-1]

2

In [59]:
uid="ajay"

cursor=conn.execute("select UID from USERS where UID=?", (uid,))
# print(len( cursor.fetchall())) #it will execute and make the cursor with 0 row
# for row in cursor:
#     print("userid = ", row[0])

In [67]:
cursor.lastrow

AttributeError: 'sqlite3.Cursor' object has no attribute 'lastrow'

In [53]:
number_of_rows[0]

'a'

In [18]:
conn.execute('''CREATE TABLE IF NOT EXISTS TRAPED
         (OWNER TEXT     NOT NULL,
         App    TEXT NOT NULL,
         UID  TEXT NOT NULL,
         PASSWORD    TEXT    NOT NULL);
         ''')
print("Table created successfully")

Table created successfully

In [57]:
owner="ajay"
app="instagram"
uid="testid"#input("Enter Username: ")
pas="xyzext"#input("Enter Password: ")

conn.execute(f"INSERT INTO TRAPED (OWNER,APP,UID,PASSWORD) \
      VALUES ('{owner}','{app}','{uid}','{pas}' )")
conn.commit()
print("Records created successfully")

OperationalError: no such table: TRAPED

In [32]:
cursor = conn.execute("SELECT OWNER,APP,UID,PASSWORD from TRAPED")
for row in cursor:
    print("app = ",row[0])
    print("owner = ",row[1])
    print("userid = ", row[2])
    print("password = ", row[3],"\n")

app =  ajay
owner =  instagram
userid =  testid
password =  xyzext

In [21]:

conn.commit()

In [40]:
conn.execute("drop table USERS")
conn.execute("drop table TRAPED")

In [327]:
conn.close()

In [29]:
temp=""

In [30]:
temp=conn

In [31]:
type(temp)

sqlite3.Connection

In [9]:
conn.execute('''CREATE TABLE IF NOT EXISTS TEST
         (UID TEXT PRIMARY KEY     NOT NULL,
         NAME TEXT NOT NULL,
         YEAR           TEXT    NOT NULL);
         ''')
print("Table created successfully")

conn.execute("INSERT INTO TEST (UID,NAME,YEAR) \
      VALUES (1,'ajay john',2000 ),(2,'vicky',3000)");
conn.commit()

Table created successfully

IntegrityError: UNIQUE constraint failed: TEST.UID

In [16]:
conn.execute("INSERT INTO TEST (UID,NAME,YEAR) \
      VALUES (3,'ajay john',2000 ),(4,'John ibra',3000)");
conn.commit()

In [24]:
cursor = conn.execute("select * from TEST where year > 2000 and name LIKE '%JOHN%';")
for row in cursor:
    print("id = ",row[0])
    print("name = ",row[1])
    print("year = ", row[2])

id =  4
name =  John ibra
year =  3000