In [43]:
import sqlite3

In [53]:
conn = sqlite3.connect('userDB.db')#,check_same_thread=False)

print("Opened database successfully.")

Opened database successfully.

In [80]:
conn.execute('''CREATE TABLE IF NOT EXISTS USER
         (UID TEXT PRIMARY KEY, PASSWORD TEXT NOT NULL);
         ''')
print("Table created successfully")

Table created successfully

In [117]:
def checkUserCredential(uid,pas):
    try:
        for row in conn.execute(f"SELECT UID,PASSWORD from USER where UID=?",(uid,)):
            if row[0]==uid and row[1]==pas:
                print("userid = ", row[0])
                print("password = ", row[1],"\n")
                return True
            return False
        print("user dosen't exist.")
    except:
        print("Table doesn't exists.")

In [120]:
checkUserCredential("ajay","tt")

False

In [60]:
# Inserting
try:
    conn.execute("INSERT INTO USER (UID,PASSWORD) \
          VALUES ('ajay','abc' )");
    conn.commit()
    print("Records created successfully")
except:
    print("User already exists")

User already exists

In [97]:
uid="ruchik1"#input("Enter Username: ")
pas="secret"#input("Enter Password: ")

try:
    conn.execute(f"INSERT INTO USER (UID,PASSWORD) VALUES (?,?)",(uid,pas));
    conn.commit()
    print("Records created successfully")
except:
    print("value should be unique")

Records created successfully

In [100]:
cursor = conn.execute("SELECT UID,PASSWORD from USER")
for row in cursor:
    print("userid = ",row[0])
    print("password = ",row[1],"\n")

userid =  ajay
password =  xyz

userid =  ruchik
password =  secret

userid =  ruchik1
password =  secret

In [ ]:
conn.close()

In [17]:
uid="ajay"
pas="xyz"
def checkUserCredential(uid,pas):
    for row in conn.execute(f"SELECT UID,PASSWORD from USER where UID={uid}"):
        if row[0]==uid and row[1]==pas:
            print("userid = ", row[0])
            print("password = ", row[1],"\n")
            return True
        return False

In [21]:
checkUserCredential("ajay","xyz")

userid =  ajay
password =  xyz

True

In [25]:
#get total number of rows
conn.execute("select count(*) from USER").fetchall()[-1][-1]

2

In [59]:
uid="ajay"

cursor=conn.execute("select UID from USERS where UID=?", (uid,))
# print(len( cursor.fetchall())) #it will execute and make the cursor with 0 row
# for row in cursor:
#     print("userid = ", row[0])

In [79]:
conn.execute("drop table USER1")

In [ ]:
conn.close()

In [28]:
temp=conn

In [29]:
type(temp)

sqlite3.Connection

In [41]:
conn.execute('''CREATE TABLE IF NOT EXISTS TEST
         (UID TEXT PRIMARY KEY,
         NAME TEXT NOT NULL,
         AGE TEXT   NOT NULL);
         ''')
print("Table created successfully")

conn.execute("INSERT INTO TEST (UID,NAME,AGE) \
      VALUES (1,'ajay',2000 ),(2,'vicky',3000)");
conn.commit()

Table created successfully

In [32]:
conn.execute("INSERT INTO TEST (UID,NAME,AGE) \
      VALUES (3,'john',2000 ),(4,'John ibra',3000)");
conn.commit()

In [37]:
cursor = conn.execute("select * from TEST;")
for row in cursor:
    print("id = ",row[0])
    print("name = ",row[1])
    print("year = ", row[2])

id =  1
name =  ajay john
year =  2000
id =  2
name =  vicky
year =  3000
id =  3
name =  ajay john
year =  2000
id =  4
name =  John ibra
year =  3000

In [42]:
conn.close()